@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* add the code bellow */ 
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}


/* naranja #e5a84b */
/* morado #5b4acb */

@keyframes growIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animated-path {
    transform-origin: center;
    animation: growIn 0.5s ease-out forwards;
  }
  